@import 'reset';
/* -------- GENERAL ---------- */

	body{
		width:100%;
		background-image: url('image_css/fleur.svg'),url('image_css/bg_320.png');
		background-repeat:no-repeat;
		background-size:100%,cover;
		background-position:-160px 100px, 0 0;
		font-family: 'Montserrat', sans-serif;
		font-size:16px;
		font-weight:400;

	}
	.clearfix{
		clear:both;
	}
	p{
		font-size:0.875em;
	}
	#courriel{
		width:100%;
		padding:15px 8px;
		background-color:#FFF;
		text-align:center;
		font-weight:700;
		box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
		a:link, a:visited, a:active{
			text-decoration: none;
			color: #8AC591;
		}
	}
	#infos{
		width:85%;
		margin-right:auto;
		margin-left: auto;
		display: block;
		#courriel,#ouverture{
			text-transform: uppercase;
		}
	}
	#ouverture{
		margin-top:15px;
		color:#FFF;
		text-align: center;
	}
	#logo{
		width:50%;
		position:absolute;
		top:100px;
		left:25%;
	}
	#accroche{
		width:80%;
		margin:50% 0 0 7%;
	}

 @media (min-width: 768px) { 
	/* min-width 641px, medium screens */
	body{
		background-image: url('image_css/fleur.svg'),url('image_css/bg_768.png');
		background-size:100%;
    }
    p{
		font-size:1em;
	}
	#infos{
		width:85%;
		#courriel,#ouverture{
			float:left;
		}
	}	
    #courriel{
		width:35%;
	}
	#ouverture{
		margin-top:15px;
		color:#FFF;
		margin-left: 15px;
	}
	#logo{
		width:40%;
	}
	#accroche{
		width:50%;
		margin:50% 0 0 6%;
	}

}
